@font-face {
  font-family: "Montserrat";
  src: url(../fonts/static/Montserrat-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/static/Montserrat-ExtraBold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/static/Montserrat-Black.ttf) format("truetype");
  font-weight: 900;
}
