/* 1. Reset Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Estilos base del Body */
body {
  /* Reset */
  margin: 0;
  padding: 0;

  /* Tipografía */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #2d3436;

  /* Apariencia */
  background-color: #000c1a;
  min-height: 100vh;

  /* Mejor renderizado de texto */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* 3. Imágenes responsivas (Opcional pero recomendado) */
img {
  max-width: 100%;
  display: block;
}

.main-header {
  background: #e6f1ff;
  padding: 5px;
  margin: 2%;
  border: 2px solid #8fc4fa;
}

.main-header__logo {
  text-align: center;
  color: #010d18;
  border: 4px solid #053b70;
  margin: 2px;
  padding: 3px;
}

.main-nav {
  margin: 2px;
  padding: 2px;
  border: 2px solid #053b70;
}
.content-area {
  background: #0077ff;
  color: #8fc4fa;
  padding: 5px;
  margin: 2%;
  border: 2px solid #8fc4fa;
  text-align: justify;
}

.main-foorer {
  background: #002147;
  color: #e6f1ff;
  padding: 2px;
  margin: 2%;
  text-align: center;
}

.main-button {
  border: 2px solid #010d18;
  background: #e7f2fe;
  width: 200px;
  text-align: center;
}

.post-section__list {
  background: #BBDBFC;
  margin: 5px;
  padding: 40px;
  color: #000c1a;
  border: 2px solid #000c1a;
}
.post-section__article {
  margin: 5px;
  padding: 5px;
  border: 4px solid #000c1a;
  background: #053B70;
}