.ejemplo-1 {
  background: #ff0000;
  width: 300px;
  height: 300px;
  margin: 20px;
  padding: 20px;
  box-sizing: content-box;
  border: solid #000000;
}
.ejemplo-2 {
  background: #ff0000;
  width: 300px;
  height: 300px;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  border: solid #000000;
}
