/*Id es con '#'*/
#ejemplo1 {
  background: red;
  width: 200px;
  height: 200px;
}
/*Class es con '.'*/
.ejemplo2 {
  width: 100%;
}
.form1 {
  width: 50%;
}

/* Aqui se hace el ejemplo 3*/
/* El formulario se selecciona con "class" = ejemplo3 */
.ejemplo3 {
  background: red;
  padding: 30px;
}

/* los input se seleccionan con class = form2*/
.form2 {
  padding: 6px 10px;
  width: 100%;
  background: black;
  color: red;
  /* Aqui se agrega margin*/
  margin: 10px;
}

.form_submit {
  letter-spacing: 2px;
  text-transform: uppercase;
  background: red;
  color: white;
  width: 50%;
}

/* Ejemplo de margin*/
.box {
  background: red;
  height: 150px;
  width: 250px;
  margin: 30px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
