body {
  background: black;
  font-family: sans-serif;
  color: white;
}

.card {
  background: coral;
  text-align: center;
  width: 400px;
  margin: auto;
  margin-top: 20px;
}

h1 {
  padding-top: 10px;
  font-size: 22px;
  margin: 0;
}

h2 {
  font-size: 14;
  font-weight: 100;
  letter-spacing: 2px;
}
p {
  font-size: 9px;
  padding: 20px;
  background: lightcoral;
  text-align: justify;
}
