body {
  background: #009;
}

.ejemplo_gradiant {
  width: 300px;
  height: 300px;
  background: linear-gradient(#ff0000, #5e5e5e, transparent);
}

.style-text {
  color: #ff9;
}

.ejemplo_gradiant_2 {
  width: 300px;
  height: 300px;
  background: radial-gradient(transparent, #00ff00, #000);
}

.ejemplo_gradiant_3 {
    width: 300px;
    height: 300px;
    background: conic-gradient(red, green, black);

}