.p__ {
  color: red;
  /*font-family: Permite elegir la tipografica*/
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  text-decoration: underline overline;
  line-height: 7;
  letter-spacing: 10px;
  text-transform: capitalize;
}
