body {
  background: #01415b;
  font-family: sans-serif;
  color: white;
}

.card {
  background: #6ac;
  text-align: center;
  width: 400px;
  margin: auto;
  margin-top: 100px;
  padding: 20px 10px;
  box-shadow: 0px 0px 30px #0006;
  border-radius: 8px;
}

.card_title {
  font-size: 22px;
  margin: 0;
}

.card_subtitle {
  font-size: 14;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  margin-top: 5px;
}
.card_content {
  font-size: 14px;
  padding: 10px;
  padding-bottom: 0;
  text-align: justify;
  margin-bottom: 0;
}

.card_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  border-radius: 50%;
}

.red-card {
  background: #f86;
}

.green-card {
  background: #5b7;
}
